* {
    box-sizing: border-box;
}

body {
    font-family: "Karla", sans-serif;
    margin: 0;
}

.nav {
    display: flex;
    align-items: center;
    height: 65px;
    background: rgb(106, 131, 177);
    color: white;
    padding: 20px;
}

.nav--image {
    height: 100%;
    margin-right: 6px;
    cursor: pointer;
}

.nav--title {
    font-size: 1.25rem;
    margin-right: auto;
}

.nav--text {
    font-size: 0.75rem;
    font-weight: 500;
    text-align: right;
}