* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;;
}


@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono&display=swap');

body {
    font-family: 'Noto Sans Mono', monospace;
    margin: 0;
}

.nav {
    display: flex;
    align-items: center;
    height: 65px;
    background: rgb(106, 131, 177);
    color: white;
    padding: 20px;
}

.nav--image {
    height: 100%;
    margin-right: 6px;
    cursor: pointer;
}

.nav--title {
    font-size: 1.25rem;
    margin-right: auto;
}

.nav--text {
    font-size: 0.75rem;
    font-weight: 500;
    text-align: right;
}

p {
    font-size: 1.6rem;
    margin:0;
}

h1 {
    font-size: 6rem;
    padding: 0;
    margin: 0;
}

.home-page{
    width: 100%;
    height: 100vh;
    position: relative;
    background-color:rgba(0,0,0,0.4);
    color: #fff;
    overflow: scroll;
    background: url('./assets/ocean.jpeg') no-repeat center center/cover;
}


.home-page .top {
    width: 100%;
    margin: auto;
    position: absolute;
    top:20%;
    border-radius: 12px;
    text-align: center;
    vertical-align: center;
}


.btn1{
    position: absolute;
    top: 60%;
    left: 35%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #f1f1f1;
    color: black;
    opacity: 0.7;
    font-size: 16px;
    padding: 16px 30px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
}


.btn1:hover {
    background-color: black;
    color: white;
  }

.btn2{
    position: absolute;
    top: 60%;
    left: 48%;
    opacity: 0.7;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #f1f1f1;
    color: black;
    font-size: 16px;
    padding: 16px 30px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
}


.btn2:hover {
    background-color: black;
    color: white;
  }



.btn3{
    position: absolute;
    top: 60%;
    left: 62%;
    opacity: 0.7;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #f1f1f1;
    color: black;
    font-size: 16px;
    padding: 16px 30px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
}


.btn3:hover {
    background-color: black;
    color: white;
  }


.news-page{
    width: 100%;
    height: 100vh;
    position: relative;
    background-color:rgba(0,0,0,0.4);
    color: #fff;
    opacity: 0.8;
    overflow: scroll;
    background: url('./assets/news.jpeg') no-repeat center center/cover;
    background-size: 100%;
    padding:0;
}

.news-page .search {
    text-align: center;
    padding: 1rem;
}

.news-page input{
    margin: 20px;
    padding: .7rem 1.5rem;
    font-size: 1.2rem;
    border-radius: 25px;
    border: 1px solid rgba(5, 3, 3, 0.8);
    background: rgba(0, 0, 0, 0.1);
    color: rgb(1, 3, 3);
}

::placeholder {
    color: rgb(0, 0, 0);
}

.app{
    width: 100%;
    height: 100vh;
    position: relative;
    background-color:rgba(0,0,0,0.4);
    color: #fff;
    overflow: scroll;
    background: url('./assets/background.jpeg') no-repeat center center/cover;
}

.app:before{
    content:'';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index:-1;
}

.container {
    max-width: 700px;
    height: 700px;
    margin: auto;
    padding: 0 1rem;
    position: relative;
    top: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
}

.app .top {
    width: 100%;
    margin: 1rem auto;
    border-radius: 12px;
    background-color: rgba(2, 2, 2, 0.411);
    text-align: center;
}

.app .bottom{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    width: 100%;
    bottom: 20%;
    margin: 1rem auto;
    padding: 1rem;
    border-radius: 12px;
    background-color: rgba(2, 2, 2, 0.411);
}

.bold{
    font-weight: 600;
}

.app .search {
    text-align: center;
    padding: 1rem;
}

.app input{
    margin: 20px;
    padding: .7rem 1.5rem;
    font-size: 1.2rem;
    border-radius: 25px;
    border: 1px solid rgba(255,255,255,0.8);
    background: rgba(255,255,255,0.1);
    color: azure;
}

::placeholder {
    color: azure;
}

.news-title {
    font-size: 12;
    margin: 8px 0 0 0;
    text-decoration: none;
    color: rgb(40, 90, 184);
    text-align: left;
}

.news-description {
    font-size: 8;
    font-weight: normal;
    margin: 8px 0 0 0;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.726);
    font-family: 'Noto Sans Mono', monospace;
    text-align: left;
}

.news-date {
    color: grey;
}

a {
    text-decoration: none;   
}


.currency-page {
    display:inline-block;
    margin: auto;
    justify-content: center;
    align-items: center;
    vertical-align: center;
    min-height: 100vh;
    min-width: 100%;
    text-align: center;
    padding: 20px;
    background-color: rgb(102, 144, 180)

}

.currency-row {
    margin:0;
    margin-bottom: 0.5rem;
    padding: 20px;
}

.currency-input {
    border: 1px solid rgb(8, 6, 6);
    border-radius: 0.4em;
    padding: 0.25rem;
    width: 10em;
    height: 3rem
}

.currency-select {
    margin-left: 0.5rem;
    width: 5rem;
    height: 2.5rem;
    background-color: rgba(236, 233, 233, 0.842);
}

